.list-content-html {
    color:#555;
    padding:0.5rem;
    padding-left: 30px;
    margin-left: 10px;
    background-color: beige;
    border-radius: 20px;
    margin-top: 5px;
}
.list-content-html h1{
    font-size:20px;
}

.list-content-html h2{
    font-size:18px;
    border-bottom: 1px solid #cbcbcb;
}
.list-content-html h3{
    font-size:16px;
}

.list-content-html pre{
    display: block;
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
}
.list-content-html pre>code{
    color: #000;
    background-color: #f0f0f0;
}
.list-content-html code {
    background-color: #fff5f5;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px 3px; 
    color: #ff502c; 
}
.list-content-html blockquote{
    border-left:4px solid #cbcbcb ;
    padding: 10px 10px 10px 30px; 
    background-color: #f8f8f8;
    border-radius: 5px;
}
.ant-list-item {
    background-color: rgb(220, 231, 216);
    margin-left: 15px;
    width: 830px;
}
.reply_click {
    text-decoration-line: none;
    color: #666;
}
.nickname {
    margin-left: 6px;
}
.date {
    margin-left: 10px;
}
.pinglunyu {
    font-size: smaller;
    color: #666
}
.reply {
    /* padding-right: 50px; */
    float: right;
}
.good {
    right: 0px;
    margin-right: 15px;
    /* position: absolute; */
    float: right;
}

.replyinfo-box {
    margin-top:5px;
    margin-left: 60px;
}