body {
  background-color: #f6f6f6;
}

.comm-left {
  background-color: #FFF;
  padding: .3rem;
  border-radius: .3rem;
  border: 1px solid #eee;
  margin: 5px;
}
.comm-right {
  padding: .3rem;
  border-radius: .3rem;
  border: 1px solid #eee;
  margin: 5px;
}

.comm-box {
  background-color: rgb(245, 240, 245);
  /* margin-left: .5rem; */
  padding: .3rem;
  border-radius: .3rem;
  border: 1px solid #eee;
  margin-top: 1.5rem;
  position: sticky;
  top: 12px;
}

.comm-main {
  margin-top: .5rem;
}
